NEXT_PUBLIC_SITE_URL=https://theladyderbyconsult.com
NEXT_PUBLIC_LEAD_MAGNET_FORM_ACTION=

RESEND_API_KEY=
RESEND_FROM_EMAIL="The Lady Derby Website <info@theladyderbyconsult.com>"
CONTACT_TO_EMAIL=info@theladyderbyconsult.com

MAILERLITE_API_KEY=
MAILERLITE_GROUP_ID=
